<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @guide.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @guide.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @guide.time %>
</p>

<p>
  <strong>Language:</strong>
  <%= @guide.language %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @guide.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guide.description %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
